input[type=text] {
    padding:5px;
    border:2px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

input[type=text]:focus {
    border-color:#333;
}

input[type=text]:hover:not(:focus) {
    border-color:#aaa;
}


input[type=submit],button {
    padding:5px 15px;
    background:#ccc;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;

    box-shadow: 0 2px 2px 0 #aaa;
}

input[type=submit]:hover,button:hover {
    box-shadow: 0 2px 2px 0 #888;
}

input[type=submit]:active,
input[type=submit]:focus,
button:active,
button:focus {
    box-shadow: 0 0 0 1px #aaa;
}
